.tag{
  margin-left: 3px;
  font-weight: normal;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
   border-radius: 0px; 
}

.tag:hover{
  cursor:pointer;
}

#createTag{
  display:inline-block;
  color:#353535;
  outline: 1px solid #353535;
  padding:5px;
  border-radius: 2px;
  margin-left: 10px;
}

#createTag:hover{
  cursor:pointer;
  background-color: #353535;
  color:#fff;
  outline: none;
/*  opacity: 0.8;*/
}

#feedTag{
  display:inline-block;
  color:#fff;
  background-color: #353535;
  outline: 1px solid #fff;
  padding:5px;
  border-radius: 2px;
}

#feedTag:hover{
  cursor:pointer;
  color:#353535;
  background-color: #fff;
  outline: none;
/*  color:green;
  outline: 1px solid green;*/
/*  opacity: 0.8;*/
}

#cancelTag{
  margin-right: 20px;
  display:inline-block;
  color:#fff;
  background-color: #353535;
  outline: 1px solid #fff;
  padding:5px;
  border-radius: 2px;
}

#cancelTag:hover{
  cursor:pointer;
  color:#353535;
  background-color: #fff;
  outline: none;
/*  opacity: 0.8;*/
}

/*.focus_tag:hover{
  background: grey;
}*/

#tagModalClose:hover{
  cursor:pointer;
}

.inmodal {
  opacity: 1;
  margin: 6px;
}

.inmodal:hover {
  outline: 1px solid #353535;
}

.infeed {
  opacity: 0.7;
}

.infeed:hover {
  opacity: 1;
}

.tagselected {
  -webkit-box-shadow: 0 -4px 0px 0px #009DE9;
  box-shadow: 0 -4px 0px 0px #009DE9;
}