/* Drag N Drop*/

#drop-widget{
	  display: none;
	    margin-left: -20px;
  margin-right: -20px;
}

#drop-list{
  position: relative;
  font-size: 13px;
  min-height: 27px;
  max-height:200px;
  overflow:auto;
  padding:2px;
    padding-bottom:0px;
}

#drop-list div {
/*  display: block;
  margin: 0 0 3px;
  border: 1px solid #8D8D8D;*/
/*  */
}

#drop-list .loader01 { 
/*  width: 100%;
  border: 1px solid #999999; 
  background: rgba(0 0 0 0); 
  display: inline-block; 
  top: 1px;*/
  border: 1px solid #353535; 
    background: rgba(0 0 0 0); 
  height:1px;

/*  margin-left: -1px;*/
}

#drop-list .loader01 div { 
  width: 0;
  height:1px;
  background: #353535;
/*  margin-right: -1px;*/

}

#drop-header {
	padding: 2px;
	  border: none;
	color: #fff;
/*	  border: 1px solid #8D8D8D;*/
	  background: #353535;
}
#drop-close {
/*		  border: none;*/
	float: right;
}

#drop-close:hover{
	cursor:pointer;
}