body,html { /* 	background: url( */
	/* 	 '../gfx/background1.jpg'); */
	/* 	background-repeat: no-repeat; */
	/* 	background-size: 100% 100%; */
	/* 	background-attachment: fixed; */
	height: 100%;
	font-size: 12px;
	overflow: hidden !important;
}

#firstlogin {
	position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0px;
  margin-left: -15px;
  z-index: 999999;
  display: none;
}

#maintenance {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	z-index: 999999;
}

#maintenance_label {
	color: white;
	margin-top:100px;margin-left:300px
}

.navbar-fixed-top,.navbar-fixed-bottom {
	z-index: 1020;
}

.navbar-icon {
	margin-top: -1px;
}

.tooltip-inner {
	color: white;
	background-color: black;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom: 5px solid black;
}

.tooltip.right .tooltip-arrow {
	border-right: 5px solid black;
}

.tooltip.left .tooltip-arrow {
	border-left: 5px solid black;
}

@-moz-keyframes rotate {from { -moz-transform:rotate(0deg);
	
}

to {
	-moz-transform: rotate(360deg);
}

}
@-webkit-keyframes rotate {from { -webkit-transform:rotate(0deg);
	
}

to {
	-webkit-transform: rotate(360deg);
}

}
@-ms-keyframes rotate {from { -ms-transform:rotate(0deg);
	
}

to {
	-ms-transform: rotate(360deg);
}

}
.rotating_class {
	-moz-animation-name: rotate;
	-moz-animation-duration: 0.5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-webkit-animation-name: rotate;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-ms-animation-name: rotate;
	-ms-animation-duration: 0.5s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
}

select,textarea,.btn {
	font-size: 10px;
}

#action_ui {
	display: none;
}