<!DOCTYPE html>
<html lang="en">

<head>${CSS}
</head>

<body style='background: url("view/gfx/background1.jpg")'>

 ${NAVBAR}

 <div class="container"
  style="margin: 0px auto; padding: 60px 14px 14px 14px; background-image: url(https://twimg0-a.akamaihd.net/a/1344442772/t1/img/wash-white-30.png);">

  <div id='home' class="row">
   <div class="span4">
    <div class="well">
     <!-- GREETING -->
     Welcome back, <span style="font-weight: bold;">${USERNAME}</span>!

     <!-- STATISTICS -->
     <ul class="nav nav-pills"
      style="margin-top: 6px; margin-left: -20px; margin-right: -20px; border: 1px solid #e8e8e8">
      <li style="padding: 6px 20px;"><b>0</b> <br> <span
       style="color: #999; font-size: 10px;">DATA</span></li>
      <li style="padding: 6px 20px; border-left: 1px solid #E8E8E8;">
       <b>0</b><br> <span style="color: #999; font-size: 10px;">RESULTS</span>
      </li>
      <li style="padding: 6px 20px; border-left: 1px solid #E8E8E8;"><b>0</b><br>
       <span style="color: #999; font-size: 10px;">PROJECTS</span></li>
     </ul>
     <!-- PACS PULL -->
     <textarea id="pacs_pull_mrns"
      placeholder="Enter MRN(s) to pull from PACS..."
      style="width: 316px; height: 19px; overflow: hidden; padding-bottom: 5px; margin-top: 0px; margin-bottom: 0px; max-width: 316px"></textarea>
     <div id="pacs_pull_ui" style="display: none">
      <a id='pacs_pull_advanced' class="btn"
       style="margin-top: 6px; float: left" rel="bottom_tooltip"
       title="Query the PACS for patient name, age, scan type..">Advanced</a><a
       id='pacs_pull' class="btn btn-warning"
       style="margin-top: 6px; float: right"><i
       class="icon icon-white icon-ok"></i> Pull</a> <br> <br>
     </div>

    </div>
    <div class="well"></div>
    <div class="well"></div>
   </div>
   <div class="span8">
    <div class="well">
     <span style="font-size: 16px; font-weight: bold;">Activity
      Feed</span> <sub>( <b>Me</b> / <a href="#">All</a> )
     </sub>
     <button class="btn btn-large btn-block" type="button">
      Feeds up to date</button>
     <div class="feed_content">${FEED_CONTENT}</div>
     <button class="btn btn-large btn-primary btn-block" type="button">
      Older feeds</button>
    </div>
   </div>

  </div>

 </div>

 ${FOOTER} ${JAVASCRIPT}
</body>
</html>