<!DOCTYPE html>
<html lang="en">
	<head>
		${TITLE}
		${STYLE}
	</head>

	<body data-spy="scroll" data-target=".subnav" data-offset="50">

		<div class="container">

			<div class="row">
				<div class="span8 intro">
					${WELCOME}
				</div>
				<div class="span4">
					${LOGIN_FORM}
				</div>
			</div>

			<div class="row mainsection">
				<div class="span8">
					${HIGHLIGHTS}
				</div>
				<div class="span4">
					${TWITTER}
				</div>
			</div>

			<div class="row links">
				${MORE}
			</div>

			${FOOTER}

		</div>

		${JAVASCRIPT}

	</body>
</html>
