<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script src="view/assets/js/jquery.js"></script>
<script src="view/assets/js/google-code-prettify/prettify.js"></script>
<script src="view/assets/js/bootstrap-transition.js"></script>
<script src="view/assets/js/bootstrap-alert.js"></script>
<script src="view/assets/js/bootstrap-modal.js"></script>
<script src="view/assets/js/bootstrap-dropdown.js"></script>
<script src="view/assets/js/bootstrap-scrollspy.js"></script>
<script src="view/assets/js/bootstrap-tab.js"></script>
<script src="view/assets/js/bootstrap-tooltip.js"></script>
<script src="view/assets/js/bootstrap-popover.js"></script>
<script src="view/assets/js/bootstrap-button.js"></script>
<script src="view/assets/js/bootstrap-collapse.js"></script>
<script src="view/assets/js/bootstrap-carousel.js"></script>
<script src="view/assets/js/bootstrap-typeahead.js"></script>
<script src="view/assets/js/application.js"></script>