<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script src="view/assets/js/jquery.js"></script>
<script src="view/assets/js/google-code-prettify/prettify.js"></script>
<script src="view/assets/js/bootstrap-transition.js"></script>
<script src="view/assets/js/bootstrap-alert.js"></script>
<script src="view/assets/js/bootstrap-modal.js"></script>
<script src="view/assets/js/bootstrap-dropdown.js"></script>
<script src="view/assets/js/bootstrap-scrollspy.js"></script>
<script src="view/assets/js/bootstrap-tab.js"></script>
<script src="view/assets/js/bootstrap-tooltip.js"></script>
<script src="view/assets/js/bootstrap-popover.js"></script>
<script src="view/assets/js/bootstrap-button.js"></script>
<script src="view/assets/js/bootstrap-collapse.js"></script>
<script src="view/assets/js/bootstrap-carousel.js"></script>
<script src="view/assets/js/bootstrap-typeahead.js"></script>
<script src="view/assets/js/application.js"></script>
<script src="view/assets/js/jquery.dataTables.js"></script>
<script src="view/assets/js/DT_bootstrap.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#search").click(function(event) {
      event.preventDefault();
      $('#filter').append('<div class="span2 alert alert-info"><button type="button" class="close" data-dismiss="alert">×</button>Tractography analysis</div>');
    });

    $("#search-input").on("input", null, null, function() {

      var oTable = $('#quickresults').dataTable();
      oTable.fnFilter($("#search-input").val());

      var oTable = $('#quickimages').dataTable();
      oTable.fnFilter($("#search-input").val());

      var oTable = $('#quickpipelines').dataTable();
      oTable.fnFilter($("#search-input").val());
    });

    $('#input-form').submit(function() {
      return false;
    })
    $('#input-search').bind('keyup', function(event) {
      $.ajax({
        type : "POST",
        url : "controller/search.class.php",
        dataType : "json",
        data : {
          field : $(this).val()
        },
        success : function(data) {
          if (data.project[0].length == 0) {
            $('#project-badge').removeClass('badge-success').addClass('badge-failure');
          } else {
            $('#project-badge').removeClass('badge-failure').addClass('badge-success');
          }
          $('#project-badge').html(data.project[0].length);

          if (data.result[0].length == 0) {
            $('#result-badge').removeClass('badge-success').addClass('badge-failure');
          } else {
            $('#result-badge').removeClass('badge-failure').addClass('badge-success');
          }
          $('#result-badge').html(data.result[0].length);

          if (data.data[0].length == 0) {
            $('#data-badge').removeClass('badge-success').addClass('badge-failure');
          } else {
            $('#data-badge').removeClass('badge-failure').addClass('badge-success');
          }
          $('#data-badge').html(data.data[0].length);

          if (data.pipeline[0].length == 0) {
            $('#pipeline-badge').removeClass('badge-success').addClass('badge-failure');
          } else {
            $('#pipeline-badge').removeClass('badge-failure').addClass('badge-success');
          }
          $('#pipeline-badge').html(data.pipeline[0].length);
        }
      });
    });

    // call it when page is loaded
    $(function() {
      $('#input-search').keyup();
    });

  }); 
</script>
</script>