<script type="text/javascript" src="view/js/jquery.min.js"></script>
<script type="text/javascript" src="view/js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="view/js/bootstrap.min.js"></script>

<script type="text/javascript" src="view/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="view/js/DT_bootstrap.js"></script>

<script type="text/javascript" src="view/js/chris.js"></script>
<script type="text/javascript" src="view/js/chris.pacs.js"></script>