<!DOCTYPE html>
<html lang="en">
  <head>
    ${TITLE}
    ${STYLE}
  </head>
  <body>
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div id='search' class='well well2'
          style='background-color: white; padding: 4px; margin: 4px;'>
            <h4><i class="icon-search" style='margin-right: 3px; margin-top: 2px;'></i>Search </h4>
            <form id='input-form' class="form-inline" style='margin: 2px'>
              <input type="text" class="input-xlarge" id='input-search'
              placeholder="Search for MRN, age, scan type etc."
              style='height: 28px;'>
            </form>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12" id="project">
          Project: <span class="badge badge-success" id="project-badge"></span>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12" id="result">
          Result: <span class="badge badge-success " id="result-badge"></span>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12" id="data">
          Data: <span class="badge badge-success" id="data-badge"></span>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12" id="pipeline">
          Pipeline: <span class="badge badge-success" id="pipeline-badge"></span>
        </div>
      </div>

      ${FOOTER}
    </div>
    ${JAVASCRIPT}
  </body>
</html>