<div class="more block span6">
	<div class="test" style="padding: 10px;">
		<p>
			<a class="btn btn-primary btn-large" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'GitHub Project', 'View project on GitHub']);" href="https://github.com/FNNDSC/chrisreloaded">View project on GitHub</a>
		</p>
		<iframe class="github-btn" src="http://markdotto.github.com/github-buttons/github-btn.html?user=nicolasrannou&repo=chrisreloaded&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
		<iframe class="github-btn" src="http://markdotto.github.com/github-buttons/github-btn.html?user=nicolasrannou&repo=chrisreloaded&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>

	</div>
</div>

<div class="more block span6">
	<div class="test" style="padding: 10px;">
		SLICE DROP HERE
	</div>
</div>