
<div class="navbar navbar-fixed-top navbar-inverse">
 <div class="navbar-inner">
  <div class="container" id='navigationbar'>

   <!-- THE LEFT NAVIGATION BUTTONS -->
   <ul class="nav">
    <li class="active"><a href="./home.php" rel="bottom_tooltip"
     title="Show the activity feed"><i class="icon-home icon-white"></i>
      Home</a></li>
    <li><a href="./projects.php" rel="bottom_tooltip"
     title="Browse your projects"><i
      class="icon-white icon-folder-open"></i> Projects</a></li>
    <li><a href="./data.php" rel="bottom_tooltip"
     title="Browse your data"><i class="icon-white icon-list-alt"></i>
      Data</a></li>
    <li><a href="./results.php" rel="bottom_tooltip"
     title="Browse your results"><i class="icon-white icon-tasks"></i>
      Results</a></li>
    <li><a id='cart' rel="bottom_tooltip"
     title="Show/hide the cart"><i
      class="icon-white  icon-shopping-cart"></i> Cart</a></li>
   </ul>
   <img src="view/gfx/bch_symbol.png"
    style="margin-top: 4px; left: 50%; position: absolute;">

   <!-- SEARCH -->
   <div class='pull-right'>
    <form class="navbar-search">
     <input type="text" class="search-query" placeholder="Search"
      rel="bottom_tooltip"
      title="Search data and results for MRN, Name, Age..">
    </form>

    <!-- SETTINGS -->
    <ul class="nav nav-pills">
     <li class="divider-vertical"></li>
     <li class="dropdown" id="menu1"><a class="dropdown-toggle"
      data-toggle="dropdown" href="#menu1"><i
       class="icon-white icon-user"></i> <b class="caret"></b> </a>
      <ul class="dropdown-menu">
       <li><a href="#">Settings</a></li>
       <li><a href="#">Help?</a></li>
       <li class="divider"></li>
       <li><a href="login.html">Logout</a></li>
      </ul></li>

     <li class="divider-vertical"></li>
    </ul>

    <!-- START NEW JOB -->
    <a class="btn btn-inverse" href="./pipelines.php"
     rel="right_tooltip" title="Start a new Job" data-toggle="dropdown"
     href="#menu2"><i class="icon-play icon-white"></i> </a>
    <!--     <ul class="dropdown-menu">
     <li><a href="#">Settings2</a></li>
    </ul> -->
   </div>
  </div>
 </div>
</div>