<!DOCTYPE html>
<html lang="en">

<head>${CSS}
</head>

<body style='background: url("view/gfx/background1.jpg")'>

 ${NAVBAR}

 <div class="container"
  style="margin: 0px auto; padding: 60px 14px 14px 14px; background-image: url(https://twimg0-a.akamaihd.net/a/1344442772/t1/img/wash-white-30.png);">

  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-header">
    <button id='modal-dismiss' type="button" class="close"
     data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">Modal Heading</h3>
   </div>
   <div class="modal-body">
    <div id="sliderZContainer">
     <div id="sliderZ"></div>
    </div>
    <div id='sliceZ' class='twoDRenderer'>
     <div id='loadOverlay'>
      Retrieving data <i class="icon-refresh icon-white rotating_class"></i>
     </div>
     <div id='sliderZOverlay'>
      Slice <span id="currentSlice">00</span>/<span id="totalSlices">00</span>
     </div>
    </div>
   </div>
   <div class="modal-footer">
    <button id='modal-close' class="btn btn-danger" data-dismiss="modal">Delete</button>
    <button id='modal-download' class="btn btn-success"
     data-dismiss="modal">Keep</button>
   </div>
  </div>

  <div class="tabbable well">
   <!-- Only required for left/right tabs -->
   <ul class="nav nav-tabs">
    <li class="active"><a href="#tab0" data-toggle="tab">Quick</a></li>
    <li><a href="#tab1" data-toggle="tab">Advanced</a></li>
    <li><a href="#tab2" data-toggle="tab">Settings</a></li>
   </ul>
   <div class="tab-content">
    <div class="tab-pane active" id="tab0">
     <div class='row-fluid'>
      <div class='span12'>
       <div class='well'>
        <h2>Parameters</h2>
        <form class="form-inline">
         <input id='PACS_MRN' type="text"
          class="input-small form_content" placeholder="MRN"
          value=''> <input id='PACS_NAM' type="text"
          class="input-small form_content" placeholder="Name" value=''>
         <input id='PACS_DAT' type="text"
          class="input-small form_content" placeholder="Study Date"
          value=''> <input id='PACS_MOD' type="text"
          class="input-small form_content" placeholder="Modality"
          value='MR'>
         <button id='PACS_QUERY' class='btn btn-primary' type="button">Search</button>

         <!--          <div class="ball"></div>
         <div class="ball1"></div> -->

        </form>

       </div>
      </div>
     </div>
     <div class='row-fluid'>
      <div class='span12'>
       <div class='well'>
        <h2>Results</h2>
        <div id='results_container' class='row-fluid'></div>
       </div>
      </div>
     </div>
     <!-- <div>
      Patient ID: <input id='PACS_MRN' type="text" value='4562009' />
     </div>
     <div>
      Study Date: <input id='PACS_DAT' type="text" value='' />
     </div>
     <div id="pacsadvancedcontainer">
      <input class='btn btn-primary pacsAdanced' type="button"
       value="Advanced">
      <div class="pacsadvanced">
       <div>
        Study Description: <input id='PACS_STU_DES' type="text" value='' />
       </div>
       <div>
        Accession Number: <input id='PACS_ACC_NUM' type="text" value='' />
       </div>
       <div>
        Study Modality: <input id='PACS_MOD' type="text" value='' />
       </div>
       <div>
        Patient Name: <input id='PACS_NAM' type="text" value='' />
       </div>
      </div>
     </div>

     <input class='btn btn-primary pacsQuery' type="button"
      value="Query"> <input class='btn btn-primary pacsRetrieve'
      type="button" value="Retrieve"> -->
     <!-- Results of the PACS pull -->
    </div>

    <div class="tab-pane" id="tab1">
     <div class='row-fluid'>
      <!--       <div class='span12'>
       <div class='well'>
        <h2>Parameters</h2>
        <form class="form-inline">
         <input id='PACS_MRN' type="text" class="input-small"
          placeholder="MRN"> <input id='PACS_NAM'
          type="text" class="input-small" placeholder="Name" value=''>
         <input id='PACS_DAT' type="text" class="input-small"
          placeholder="Study Date" value=''> <input id='PACS_MOD'
          type="text" class="input-small" placeholder="Modality"
          value=''>
         <button id='PACS_QUERY' class='btn btn-primary' type="button">Search</button>
        </form>
       </div>
      </div> -->
     </div>
    </div>

    <div class="tab-pane" id="tab2">

     <div class='span5 well'>
      <h1>Client Information</h1>
      AET Title: <input id='USER_AET' type="text"
       value='FNNDSC-CHRISDEV'>
     </div>
     <div class='span5 well'>
      <h1>Server Information</h1>
      <div>
       IP/hotname: <input id='SERVER_IP' type="text"
        value='134.174.12.21' />
      </div>
      <div>
       Port: <input id='SERVER_POR' type="text" value='104' />
      </div>
      <div>
       <input class='btn btn-primary pacsPing' type="button"
        value="Test Connection"> <span id='pacsping'></span>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>

 ${FOOTER} ${JAVASCRIPT}
</body>
</html>