<!DOCTYPE html>
<html lang="en">

<head>${CSS}
</head>

<body style='background: url("view/gfx/background1.jpg")'>

 ${NAVBAR}

 <div class="container"
  style="margin: 0px auto; padding: 60px 14px 14px 14px; background-image: url(https://twimg0-a.akamaihd.net/a/1344442772/t1/img/wash-white-30.png);">



  <div id='pipeline' class="row">
   <div class="span12">
    <div class="page-header">
     <h1>Pipelines</h1>
    </div>
   </div>
  </div>
  <div class='row '>
   <div class='span3'>
    <div class='well'>
     <form class="form-search">
      <div class="input-append">
       <span class='btn-group'> <input type="text"
        class="span2 search-query" placeholder="Motion Correction">
        <button class=" btn dropdown-toggle" data-toggle="dropdown"
         href="#">
         <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
         <li><a href="#">Motion Correction</a></li>
         <li><a href="#">Recon-All</a></li>
         <li><a href="#">Tractography</a></li>
        </ul>
       </span>
      </div>
     </form>
     <img src=view/gfx/fetal_moco.png class="img-rounded">
    </div>
   </div>
   <div class='span6'>
    <div class='well'>
     <h3>Description</h3>
     In recent years, postprocessing of fast multislice magnetic
     resonance imaging (MRI) to correct fetal motion has provided the
     first true 3-D MR images of the developing human brain in utero.
     Early approaches have used reconstruction...
    </div>
   </div>
   <div class='span3'>
    <div class='well'>
     <h3>Credits</h3>
     Kim K, Habas PA, Rousseau F, Glenn OA, Barkovich AJ, Studholme C.
    </div>
   </div>
  </div>


  ${CART}

  <div id='moco' class='row'>
   <div class='span3'>
    <div class='well'>
     <h3>
      Input data
      <button class="btn btn-large btn-primary pull-right" type="button">+</button>
     </h3>
     <div id='input2' class='well'>
      <h4>Set #2</h4>
      <div>
       T1 <input type="text" class="input-small search-query">
       <button type="submit" class="btn">+</button>
       <div>
        T2 <input type="text" class="input-small search-query">
        <button type="submit" class="btn">+</button>
       </div>
      </div>
     </div>
     <div id='input1' class='well'>
      <h4>Set #1</h4>
      <div>
       T1 <input type="text" class="input-small search-query">
       <button type="submit" class="btn">+</button>
       <div>
        T2 <input type="text" class="input-small search-query">
        <button type="submit" class="btn">+</button>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class='span9'>
    <div class='well'>
     <h3>
      Parameters
      <button id='submit' type="button"
       class="btn btn-large btn-success pull-right">Submit jobs</button>
     </h3>
     <div id='input1' class='well'>
      <h4>
       Motion Correction
       <button class="btn btn-primary pull-right" type="button">Advanced</button>
      </h4>
      <div>
       Parameter1 <input type="text" class="input-small search-query">
       <button type="submit" class="btn">+</button>
       <button type="submit" class="btn">-</button>
       <div>
        Parameter2 <input type="text" class="input-small search-query">
        <button type="submit" class="btn">+</button>
        <button type="submit" class="btn">-</button>
       </div>
      </div>
     </div>
     <div id='input1' class='well'>
      <h4>
       Global Parameters
       <button class="btn btn-primary pull-right" type="button">Advanced</button>
      </h4>
      <div>
       Project <input type="text" class="input-small search-query">
       <button type="submit" class="btn">+</button>
       <div>
        <label class="checkbox"> <input type="checkbox">
         Email me when job finished
        </label>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>

 ${FOOTER} ${JAVASCRIPT}
</body>
</html>