<!DOCTYPE html>
<html lang="en">

<head>${CSS}
</head>

<body style='background: url("view/gfx/background1.jpg")'>

 ${NAVBAR}

 <div class="container"
  style="margin: 0px auto; padding: 60px 14px 14px 14px; background-image: url(https://twimg0-a.akamaihd.net/a/1344442772/t1/img/wash-white-30.png);">

  ${CART}

  <div id='home' class="row">
   <div class="span12">
    <div class="well">
     <div class="page-header">
      <h1>Pipelines <button type="button" class="btn btn-success pull-right">Submit jobs</button></h1>
     </div>
     <div class="btn-group">
      <button class="btn btn-large dropdown-toggle"
       data-toggle="dropdown">
       Motion Correction <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
       <li><a href="#">Motion Correction</a></li>
       <li><a href="#">Recon-All</a></li>
       <li><a href="#">Tractography</a></li>
      </ul>
     </div>
     <!-- /btn-group -->
     <div>Motion Correction</div>
     <br> <br> <br> <br> <br> <br> <br>
     <br> <br> <br> <br> <br> <br> <br>
     <br> <br> <br> <br> <br> <br> <br>
     <br> <br> <br> <br> <br> <br> <br>
    </div>
   </div>
  </div>

 </div>

 ${FOOTER} ${JAVASCRIPT}

</body>
</html>