<div class="accordion" id="accordion1">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne"> Results <span class="pull-right badge badge-success">4 matches</span></a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="accordion-inner">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="quickresults">
					<thead>
						<tr>
							<th>MRN</th>
							<th>Pipeline</th>
							<th>Project</th>
							<th>Start date</th>
							<th>Progress</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>001</td><td>tractography </td><td>compare tractographies</td><td>Wed 05 08 2012</td><td>
							<div class="progress progress-striped
							active">
								<div class="bar"
								style="width: 40%;"></div>
							</div></td>

						</tr>
						<tr>
							<td>001</td><td>tractography </td><td>compare tractographies</td><td>Wed 05 08 2012</td><td>
							<div class="progress progress-striped
							active">
								<div class="bar"
								style="width: 40%;"></div>
							</div></td>

						</tr>
						<tr>
							<td>001</td><td>tractography </td><td>compare tractographies</td><td>Wed 05 08 2012</td><td>
							<div class="progress progress-striped
							active">
								<div class="bar"
								style="width: 40%;"></div>
							</div></td>

						</tr>
						<tr>
							<td>001</td><td>tractography </td><td>compare tractographies</td><td>Wed 05 08 2012</td><td>
							<div class="progress progress-striped
							active">
								<div class="bar"
								style="width: 40%;"></div>
							</div></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>