<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"> Images </a>
		</div>
		<div style="height: auto;" id="collapseTwo" class="accordion-body collapse in">
			<div class="accordion-inner">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>MRN</th>
							<th>Modality</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>001</td><td>T1 </td><td>Wed 05 08 2012</td>
						</tr>
						<tr>
							<td>001</td><td>T1 </td><td>Wed 05 08 2012</td>
						</tr>
						<tr>
							<td>001</td><td>T1 </td><td>Wed 05 08 2012</td>
						</tr>
						<tr>
							<td>001</td><td>T1 </td><td>Wed 05 08 2012</td>
						</tr>

					</tbody>
				</table>
				<div class="pagination">
					<ul>
						<li>
							<a href="#">Prev</a>
						</li>
						<li class="active">
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">Next</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>