<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"> Images <span class="pull-right badge badge-success">2 matches</span></a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="quickimages">
					<thead>
						<tr>
							<th>MRN</th>
							<th>Modality</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>001</td><td>T1 </td><td>Wed 05 08 2012</td>
						</tr>
						<tr>
							<td>001</td><td>T1 </td><td>Wed 05 08 2012</td>
						</tr>
						<tr>
							<td>001</td><td>T1 </td><td>Wed 05 08 2012</td>
						</tr>
						<tr>
							<td>001</td><td>T1 </td><td>Wed 05 08 2012</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>