<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- style -->
<link href="view/assets/css/bootstrap.css" rel="stylesheet">
<link href="view/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="view/assets/css/docs.css" rel="stylesheet">
<link href="view/assets/css/chris.css" rel="stylesheet">
<link href="view/assets/css/DT_bootstrap.css" rel="stylesheet">

<link href="view/assets/js/google-code-prettify/prettify.css" rel="stylesheet">

<!-- fav and touch icons -->
<link rel="shortcut icon" href="view/assets/ico/favicon.ico">
<link rel="apple-touch-icon" href="view/assets/ico/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="view/assets/ico/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="view/assets/ico/apple-touch-icon-114x114.png">
