<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<link href="view/css/bootstrap.min.css" rel="stylesheet">

<link href="view/css/jquery-ui-1.8.23.css" rel="stylesheet">

<link href="view/css/jquery.dataTables.css" rel="stylesheet">

<link href="view/css/chris.css" rel="stylesheet">
<link href="view/css/chris.feed.css" rel="stylesheet">
<link href="view/css/chris.data.css" rel="stylesheet">
<link href="view/css/chris.pacs.css" rel="stylesheet">