
<div id="PMODAL" class="modal hide fade" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-header">
  <button id='modal-dismiss' type="button" class="close"
   data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 id="myModalLabel">Series Description</h3>
 </div>
 <div class="modal-body">
  <div id="sliderZContainer">
   <div id="sliderZ"></div>
  </div>
  <div id='sliceZ' class='twoDRenderer'>
   <div id='TL_OVER'>
    Retrieving data <i class="icon-refresh icon-white rotating_class"></i>
   </div>
   <div id='BR_OVER'>
    Slice <span id="SLICE">00</span>/<span id="SLICE_NB">00</span>
   </div>
  </div>
 </div>
 <div class="modal-footer"></div>
</div>