<div class="data_patient feed_header_small"
 style="color: #000; border-top: 1px solid; border-color: lightgrey;">
 <table style='margin-left: 10px;' class='feed_data_patient_table'>
 <tr>
 <td><b>MRN:</b></td>
 <td width=20></td>
 <td>${ID}</td>
 <td width=20></td>
 <td><b>Date of birth:</b></td>
 <td width=20></td>
 <td>${DOB}</td>
 <td width=20></td>
 </tr>
 <tr>
 <td><b>Name:</b></td>
 <td width=20></td>
 <td>${NAME}</td>
 <td width=20></td>
 <td><b>Scan date:</b></td>
 <td width=20></td>
 <td>${SCANDATE}</td>
 <td width=20></td>
 </tr>
 <tr>
 <td><b>Sex:</b></td>
 <td width=20></td>
 <td>${SEX}</td>
 <td width=20></td>
 <td><b>Age at scan:</b></td>
 <td width=20></td>
 <td>${SCANAGE}</td>
 <td width=20></td>
 </tr>
 </table>
 </div>