
<div id="PREVIEWMODAL" class="modal hide fade" tabindex="-1" role="dialog"
 aria-labelledby="PREVIEWLABEL" aria-hidden="true" style='height:500px;overflow:hidden'>
 <div class="modal-header">
  <button id='modal-dismiss' type="button" class="close"
   data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 id="PREVIEWLABEL" style='overflow-x:hidden; white-space:nowrap;'></h3>
 </div>
 <div class="modal-body" style='padding:0px;overflow-y:hidden;max-height:100%;'>
  <div id='PREVIEW' class='previewRenderer' style='height:451px; width:100%;'>
   <div id="PREVIEWSLIDER"></div>
   <div id='TL_OVER'>
    Retrieving data <i class="icon-refresh icon-white rotating_class"></i>
   </div>
   <div id='BR_OVER'>
    Slice <span id="SLICE">00</span>/<span id="SLICE_NB">00</span>
   </div>
  </div>
 </div>
</div>