<div class="data"
 style="border-top: 1px solid; border-color: lightgrey;">
 <span class="pull-left" style="display: ${VISIBILITY"><i
  class="icon-move feed_move"></i> <i id="${FULL_ID}-feedd"
  class="icon-eye-open feed_preview" rel="left_tooltip"
  data-original-title="Preview"></i>&nbsp;&nbsp;&nbsp;&nbsp;</span><span
  class="feed_data_name">${DATA}</span> <span class="feed_data_nb_files">
  (${NB_FILES} files)</span> <span class="pull-right"
  style="display: ${VISIBILITY"><i id="${FULL_ID}-feeds"
  class="icon-plus feed_select" rel="right_tooltip"
  data-original-title="Select for Processing"></i></span>
</div>