<!DOCTYPE html>
<html lang="en">

<head>
<meta name="viewport"
 content="width=device-width, initial-scale=1, minimuum-scale=1, maximum-scale=1">
${CSS}
</head>

<body>

 ${NAVBAR}

 <div class="container"
  style="margin: 0px auto; padding: 60px 14px 14px 14px; background-image: url(https://twimg0-a.akamaihd.net/a/1344442772/t1/img/wash-white-30.png);">

  ${DATA_PREVIEW}

  <div id='home' class="row">
   <div class="span4" data-spy="affix">

    <div class="well">
     <!-- GREETING -->
     Welcome back, <span style="font-weight: bold;">${USERNAME}</span>!

     <!-- STATISTICS -->
     <ul class="nav nav-pills"
      style="margin-top: 6px; margin-left: -20px; margin-right: -20px; border: 1px solid #e8e8e8">
      <li style="padding: 6px 20px;"><b>0</b> <br> <span
       style="color: #999; font-size: 10px;">DATA</span></li>
      <li style="padding: 6px 20px; border-left: 1px solid #E8E8E8;">
       <b>0</b><br> <span style="color: #999; font-size: 10px;">RESULTS</span>
      </li>
      <li style="padding: 6px 20px; border-left: 1px solid #E8E8E8;"><b>0</b><br>
       <span style="color: #999; font-size: 10px;">PROJECTS</span></li>
     </ul>

     <!-- PACS PULL -->
     <textarea id="pacs_pull_mrns" placeholder="Action"
      style="width: 100%; height: 19px; overflow: hidden; padding-bottom: 5px; margin-top: 0px; margin-bottom: 0px; margin-left: -7px; max-width: 100%;"></textarea>
     <div id="pacs_pull_ui" style="display: none">
      <a id='pacs_pull' class="btn btn-warning"
       style="margin-top: 6px; float: right"><i
       class="icon icon-white icon-ok"></i> Run</a> <br> <br>
     </div>
    </div>

    ${PLUGIN}
   </div>
   <div class="span8 pull-right">
    <div class="feed_title">
     <span style="font-size: 16px; font-weight: bold;">Activity
      Feed</span> <sub>( <a href="#">Me</a> / <b>All </b>)
     </sub>
    </div>
    <div class="feed_update feed_gradient"></div>
    <div class="feed_content">${FEED_CONTENT}</div>
   </div>

  </div>
 </div>

 ${FOOTER} ${JAVASCRIPT}
</body>
</html>