<script type="text/javascript" src="view/js/jquery.min.js"></script>
<script type="text/javascript"
 src="view/js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="view/js/bootstrap.min.js"></script>

<script type="text/javascript" src="view/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="view/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="view/js/jquery.toastmessage.js"></script>
<script type="text/javascript" src="view/js/jquery.filetree.js"></script>
<script type="text/javascript" src="view/js/jquery.multi-accordion-1.5.3.js"></script>
<script type="text/javascript" src="view/js/DT_bootstrap.js"></script>
<!-- XTK -->
<script type="text/javascript" src="http://get.goXTK.com/xtk_edge.js"></script>

<!-- CHRIS -->
<script type="text/javascript" src="view/js/chris.js"></script>
<!-- CHRIS DATA -->
<script type="text/javascript" src="view/js/chris.data.js"></script>
<!-- CHRIS PLUGIN -->
<script type="text/javascript" src="view/js/chris.plugin.js"></script>
<!-- CHRIS FEED -->
<script type="text/javascript" src="view/js/chris.feed.js"></script>
<!-- CHRIS PACS -->
<script type="text/javascript" src="view/js/chris.pacs.js"></script>