<!DOCTYPE html>
<html lang="en">

<head>${CSS}</head>

<body>

 <div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
   <div class="container">
    <img src="view/gfx/bch_logo.png" style="margin-top: 4px">
   </div>
  </div>
 </div>
 <div class="container" style="margin-top: 200px;">
  <div class="row">
   <div class="span8">
    <div class="well-large"
     style="height: 320px; background: url('view/gfx/spoiler3.png'); background-repeat: no-repeat; background-color: #000"></div>
   </div>
   <div class="span4">
    <form class="well-large" style="background-color: #000"
     action="./home.php">
     <input type="text" class="span3" placeholder="Username"><input
      type="text" class="span2" placeholder="Password">
     <button type="submit" class="btn btn-warning"
      style="margin-bottom: 8px; margin-left: 12px;">Sign in</button>
    </form>
    <div class="well-large" style="background-color: #000">
     <img src="view/gfx/slicedrop_transparent.png"><br> <br>
     <span style="color: white;">Instantly view medical imaging
      data in 3D.<br>Drop files here or <a
      class="btn btn-primary btn-mini">Select files</a>
     </span>
    </div>
    <div class="well-large"
     style="background-color: #000; margin-top: 16px;">
     <a href="mailto:dev@babymri.org" style="float: right;">Request
      access ?</a>
    </div>
   </div>
  </div>
 </div>

 ${FOOTER} ${JAVASCRIPT}

</body>
</html>