<!DOCTYPE html>
<html lang="en">

<head>${CSS}
</head>

<body style='background: url("view/gfx/background1.jpg")'>

 ${NAVBAR}

 <div class="container"
  style="margin: 0px auto; padding: 60px 14px 14px 14px; background-image: url(https://twimg0-a.akamaihd.net/a/1344442772/t1/img/wash-white-30.png);">
  ${DATA_PREVIEW}
  <div class="tabbable well">
   <ul class="nav nav-tabs">
    <li class="active"><a href="#tab0" data-toggle="tab">Retrieve
      data</a></li>
    <li><a href="#tab2" data-toggle="tab">Settings</a></li>
   </ul>
   <div class="tab-content">
    <div class="tab-pane active" id="tab0">


    </div>
    <div class="tab-pane" id="tab2">

     <div class='row-fluid'>
      <div class='span6 well'>
       <h1 style="border-bottom: 1px solid; border-color: lightgrey;">
        <img src='view/gfx/jigsoar-icons/dark/48_download.png'
         class="img-rounded">Download
       </h1>
       <div>
        IP / Host Name: <input id='SERVER_IP' type="text"
         value='134.174.12.21' />
       </div>
       <div>
        Port: <input id='SERVER_POR' type="text" value='104' />
       </div>
       <div>
        <input class='btn btn-primary pacsPing' type="button"
         value="Test Connection"> <span id='pacsping'></span>
       </div>
      </div>
      <div class='span6 well'>
       <h1 style="border-bottom: 1px solid; border-color: lightgrey;">
        <img src='view/gfx/jigsoar-icons/dark/48_upload.png'
         class="img-rounded"> Upload
       </h1>

       <div>
        IP / Host Name: <input id='SERVER_IP' type="text"
         value='134.174.12.21' />
       </div>
       <div>
        Port: <input id='SERVER_POR' type="text" value='104' />
       </div>
       <div>
        <input class='btn btn-primary pacsPing' type="button"
         value="Test Connection"> <span id='pacsping'></span>
       </div>
      </div>
     </div>
     <div class='row-fluid'>
      <div class='span12 well'>
       <h1 style="border-bottom: 1px solid; border-color: lightgrey;">
        <img src='view/gfx/jigsoar-icons/dark/48_users.png'
         class="img-rounded"> User
       </h1>
       AE Title: <input id='USER_AET' type="text"
        value='${CHRIS_AETITLE}'>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>

 ${FOOTER} ${JAVASCRIPT}
</body>
</html>