
<!-- The Cart -->
<div class='cart'>
 <div class='cart_title'>
  <span style="font-size: 16px; font-weight: bold;">Plugins</span>
 </div>
 <div class='cart_content'>
  <!-- PIPELINES -->
  <div id="cart_plugins">${PLUGIN_CAROUSEL}</div>

  <!-- PARAMETERS -->
  <div id='cart_parameters'>
  ${PLUGIN_PARAMETERS}
  </div>
  
 </div>
 <div class='cart_footer'>
  <a class="btn btn-danger" href='#' rel="right_tooltip"
   data-original-title="Cancel.."><i class="icon-remove"></i></a> <a
   class="btn btn-success pull-right" href='#' rel="right_tooltip"
   data-original-title="Start the Job!"><i class="icon-play"></i></a>
 </div>

</div>