
<!-- <form class="form-search" style="margin-bottom: 5px">
 <div class="input-append">
  <span class='btn-group'> <input type="text"
   class="span2 search-query" placeholder="Motion Correction">
   <button class=" btn dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="caret"></span>
   </button>
   <ul class="dropdown-menu pull-right">
    <li><a href="#">Motion Correction</a></li>
    <li><a href="#">Recon-All</a></li>
    <li><a href="#">Tractography</a></li>
   </ul>
  </span>
 </div>
</form> -->

<div id="pipelines" class="carousel slide"
 style='width: 200px; margin-bottom: 0px;'>
 <!-- Carousel items -->
 <div class="carousel-inner">
  ${PLUGIN_CAROUSEL_ITEMS}
  <!--      <div class="active item">
      <img src="view/gfx/fetal_moco.png" class="img-rounded">
     </div>
     <div class="item">
      <img src="view/gfx/fetal_moco.png" class="img-rounded">
     </div>
     <div class="item">
      <img src="view/gfx/fetal_moco.png" class="img-rounded">
     </div> -->
 </div>
 <!-- Carousel nav -->
 <a class="cart-carousel-control cart-carousel-control-left left"
  href="#pipelines" data-slide="prev">&lsaquo;</a> <a
  class="cart-carousel-control cart-carousel-control-right right"
  href="#pipelines" data-slide="next">&rsaquo;</a>
</div>