.cart { /* 	display: none; */
	
}

.cart_title {
	padding: 10px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: lightgrey;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background-color: whiteSmoke;
}

.cart_content {
	background-color: whiteSmoke;
}

.cart_footer {
	padding: 10px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: whiteSmoke;
	margin-bottom: 20px;
	margin-top: -1px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: lightgrey;
	height: 30px;
}

.cart-carousel-control {
	position: absolute;
	top: 10%;
	width: 10px;
	height: 20px;
	font-size: 30px;
	font-weight: 200;
	line-height: 20px;
/* 	color: white; */
	text-align: left;
}

.cart-carousel-control-left {
	left: -13px;
	top: 5px;
}

.cart-carousel-control-right {
	right: -13px;
	top: 5px;
}

.parameter_text {
	font-size: 11px;
}

#cart_plugins {
	width: 100%;
	height: 100%;
	margin-top: -1px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: lightgrey;
}

#pipelines {
	margin-left: 50px;
}

#cart_parameters {
	margin-top: -1px;
	padding: 5px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: lightgrey;
}

#cart_input {
	margin-top: -1px;
	padding: 5px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: lightgrey;
}

#cart_selection {
	margin-top: -1px;
	padding: 5px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: lightgrey;
}

.plugin_panel {
	padding: 10px;
}

.panel_title {
  font-size: 11px;
}

.parameter_panel {
	
}

.parameter_title_cropped {
	width: 80px;
	position: absolute;
	overflow: hidden;
	font-weight: bold;
	white-space: nowrap;
}

.parameter_title_cropped:hover {
	overflow: visible;
	background-color: whiteSmoke;
	color: blue;
}

.parameter_title {
  position: absolute;
  font-weight: bold;
  white-space: nowrap;
}

.parameter_title:hover {
  background-color: whiteSmoke;
  color: blue;
}

.parameter_row {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 11px;
	height: 30px;
	line-height: 2;
}

.parameter_dropzone {
	border: dashed thin gray;
	float: right;
	width: 160px;
	text-align: center;
	color: gray;
	white-space: nowrap;
	overflow-x: hidden;
	padding-left: 3px;
	font-size: 10px;
}

.parameter_input {
	margin-left: 80px;
	float: right;
}

.parameter_spinner {
	width: 30px;
	line-height: 10px;
	float: right;
}

.parameter_spinner_double {
  width: 30px;
  line-height: 10px;
  float: right;
}

.parameter_dropzone_active {
	background-color: #D9E7FE;
}

.parameter_dropzone_hover {
	background-color: #9CB0D8;
}