.feed {
	margin-top: -1px;
	padding: 5px;
	border: 1px solid;
	border-color: grey;
}

.feed>.preview {
	overflow: auto;
}

.feed>.preview>.title {
	width: 90%;
	float: right;
	padding: 5px;
}

.feed>.preview>.title>.time {
	float: right;
}

.feed>.preview>.title>.user {
	float: left;
}

.feed>.preview>.gfx {
	float: left;
	width: 60px;
}

.feed>.preview>.content {
	width: 90%;
	float: right;
	padding: 5px;
}

.feed>.preview>.content>.main {
	float: left;
}

.feed>.preview>.content>.more {
	float: right;
}

.feed>.details {
	overflow: auto;
	display: none;
}

.feed>.details>.result {
	
}

/* CSS applied in the PHP because of JQUERY slide */
.feed>.details>.data {
/* 	border-top: 1px solid;
	border-color: grey;
	margin-top: 5px; */
}