#slideshow #slidesContainer {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  overflow: auto; /* allow scrollbar */
  position: relative;
}

.slide {
  margin: 0 auto;
  width: 100%; /* reduce by 20 pixels to avoid horizontal scroll */
  height: 300px;
}