<div data-chris-feed_id="${ID}" data-chris-feed_status="${STATUS}"
 data-chris-feed_time="${TIME_FORMATED}" class="feed"
 data-type='${PLUGIN}'>
 <div class='feed_header'>
  <span class='feed_icon' data-type='${PLUGIN}'
   data-chris-feed_id="${ID}"> <img src="${IMAGE_SRC}"
   class="img-rounded">
  </span>
  <div class='feed_header_line_one'>
   <span class='span3' style='margin-left: 0px; float: none;'><span
    class='feed_type'>${PLUGIN}</span>&nbsp;&nbsp; <span
    class='feed_username feed_header_small'>${USERNAME}</span></span><span
    class="bottom-right">
    <span
    class="feed_time feed_header_small">Some time ago..</span>
    <span
    class='feed_status feed_header_small show_me'>${STATUS_TEXT} </span><span class="feed_favorite show_me focus">${FAVORITE_TEXT}</span><span
    class="feed_share show_me focus">${SHARE_TEXT}</span><span
    class="feed_archive show_me focus">${ARCHIVE_TEXT}</span></span>
  </div>
  <div class='feed_header_line_two'>
   <span class='feed_more feed_header_small focus'>${MORE}</span> <span
    class='feed_name'>${FEED_NAME}</span> <input
    onclick='var e = arguments[0] || window.event; e.stopPropagation();'
    class='feed_name_edit '
    style='display: none; font-size: 12px; line-height: 12px'
    type='text' value='${FEED_NAME}' /> <img
    class='feed_edit_icon show_me focus'
    src='view/gfx/jigsoar-icons/dark/16_edit_page2.png'
    onclick='_FEED_.activate_feed_name_edit($(this),event)'>
  </div>
 </div>

 <div class='feed_details'>
  <div class='feedpanel' style='margin-top: 12px;'>
   <h3 class='notes_tab'>Notes</h3>
   <div>${NOTES}</div>
   <h3>Files</h3>
   <div>${DATA_BROWSER}</div>
   ${FEED_HTML}
  </div>
 </div>
</div>