<div class="feed_sea">
 <div class="feed_sea_header">
 ${CHRIS_UI_CHECKBOX}<b> &nbsp &nbsp Search</b><span class="pull-right">&nbsp;
					<a class="feed_share"><i class="icon-share-alt icon-white focus"></i></a>
					<a class="sfeed_favorite"><i class="icon-star icon-white focus"></i></a>
 								<a class="sfeed_ufavorite"><i class="icon-star-empty icon-white focus"></i></a>
<a class="sfeed_uarchive"><i class="icon-plus icon-white focus"></i></a>
<a class="sfeed_archive"><i class="icon-remove icon-white focus"></i></a>
								<a class="feed_tag"><i class="icon-tag icon-white focus"></i></a>



			</span>
 </div>
 <div class="feed_sea_content"></div>
</div>
<div class="feed_fav">
 <div class="feed_fav_header">
 ${CHRIS_UI_CHECKBOX} <b> &nbsp &nbsp Favorites</b><span class="pull-right">&nbsp;
					<a class="feed_share"><i class="icon-share-alt icon-white focus"></i></a>
								<a class="feed_favorite"><i class="icon-star-empty icon-white focus"></i></a>
								<a class="feed_tag"><i class="icon-tag icon-white focus"></i></a>
								<a class="feed_archive"><i class="icon-remove icon-white focus"></i></a>


			</span>
 </div>
 <div class="feed_fav_content">${FEED_FAV}</div>
</div>
<div class="feed_run">
 <div class="feed_run_header">
 ${CHRIS_UI_CHECKBOX}  <b> &nbsp &nbsp Running</b><span class="pull-right">&nbsp;
					<a class="feed_share"><i class="icon-share-alt icon-white focus"></i></a>
								<a class="feed_favorite"><i class="icon-star-empty icon-white focus"></i></a>
								<a class="feed_tag"><i class="icon-tag icon-white focus"></i></a>
								<a class="feed_archive"><i class="icon-remove icon-white focus"></i></a>


			</span>
 </div>
 <div class="feed_run_content">${FEED_RUN}</div>
</div>
<div class="feed_fin">
 <div class="feed_fin_header">

 ${CHRIS_UI_CHECKBOX}

<b> &nbsp &nbsp Finished</b>

<span class="pull-right">&nbsp;
					<a class="feed_share"><i class="icon-share-alt icon-white focus"></i></a>
								<a class="feed_favorite"><i class="icon-star-empty icon-white focus"></i></a>
								<a class="feed_tag"><i class="icon-tag icon-white focus"></i></a>
								<a class="feed_archive"><i class="icon-remove icon-white focus"></i></a>


			</span>
 </div>
 <div class="feed_fin_content">${FEED_FIN}</div>
</div>