<div class="feed_sea">
 <div class="feed_sea_header">
    <b> &nbsp &nbsp Search</b>
 </div>
 <div class="feed_sea_content"></div>
</div>
<div class="feed_fav">
 <div class="feed_fav_header">
    <b> &nbsp &nbsp Favorites</b>
 </div>
 <div class="feed_fav_content">${FEED_FAV}</div>
</div>
<div class="feed_run">
 <div class="feed_run_header">
    <b> &nbsp &nbsp Running</b>
 </div>
 <div class="feed_run_content">${FEED_RUN}</div>
</div>
<div class="feed_fin">
 <div class="feed_fin_header">
    <b> &nbsp &nbsp Finished</b>
 </div>
 <div class="feed_fin_content">${FEED_FIN}</div>
</div>