<div data-chris-feed_id="${ID}" data-chris-feed_status="${STATUS}"
 data-chris-feed_time="${TIME_FORMATED}" class="feed">
 <div class='feed_header'>
  <span class='feed_icon'> <img src="${IMAGE_SRC}"
   class="img-rounded">
  </span>
  <div class='feed_header_line_one'>
   <span class='span3' style='margin-left: 0px;'><span
    class='feed_type'>${PLUGIN}</span>&nbsp;&nbsp; <span
    class='feed_username feed_header_small'>${USERNAME}</span></span> <span
    class='feed_status feed_header_small'>Status: ${STATUS_TEXT}
   </span><span class="feed_favorite">${FAVORITE_TEXT}</span><span
    class="feed_share">${SHARE_TEXT}</span><span class="feed_archive">${ARCHIVE_TEXT}</span><span
    class="feed_time feed_header_small">Some time ago..</span>
  </div>
  <div class='feed_header_line_two'>
   <span class='feed_message'>${FEED_META_SIMPLE}</span> <span
    class='feed_more feed_header_small'><a>${MORE}</a></span>
  </div>
 </div>

 <div class='feed_details'>
  <div class='feedpanel' style='margin-top: 12px;'>
   <h3>Parameters</h3>
   <div style='padding: 10px;'>${FEED_META_CONTENT}</div>
   <h3 class='notes_tab'>Notes</h3>
   <div>${NOTES}</div>   
   <h3>Files</h3>
   <div>${DATA_BROWSER}</div>
   ${FEED_HTML}
  </div>
 </div>
</div>