<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<meta name='viewport'
 content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0' />
<title>ChRIS</title> ${CSS}
</head>
<body>

 <div id='maintenance' style='${MAINTENANCE}'>
  <div id='maintenance_label'>
   <h1>Maintenance!</h1>
   The system will be available again shortly!<br>Sorry for the
   inconvenience!!
  </div>
 </div>
 ${NAVBAR}

 <div class="container" id='opaqueoverlay'
  style="margin: 0px auto; padding: 60px 14px 14px 14px; background-image: url(view/gfx/wash-white-30.png); min-height: 100%;">
  <div id='firstlogin'>
   <img id='tutprev' src='view/gfx/tut_previous.png'
    style='position: absolute; left: -230px; top: 300px; cursor: pointer;'>
   <img id='tutnext' src='view/gfx/tut_next.png'
    style='position: absolute; left: 1000px; top: 300px; cursor: pointer;'>
   <img id='tutcancel' src='view/gfx/tut_cancel.png'
    style='position: absolute; left: 1000px; cursor: pointer;'> <img
    id='tut1' src='view/gfx/tut_stats.png'
    style='position: absolute; top: 40px; left: -10px;'> <img
    id='tut2' src='view/gfx/tut_plugins.png'
    style='position: absolute; top: 50px; left: -30px; display: none'>
   <img id='tut3' src='view/gfx/tut_feed.png'
    style='position: absolute; top: 30px; left: 250px; display: none'>
  </div>
  ${FEED_DATA_PREVIEW}
  ${FEED_TAG}

  <div id='home' class="row">
   <div id="left" class="span4">
    <div class="well" id='information'
     style='padding-top: 10px; padding-bottom: 12px;'>
<!--          <div id="homedropmask"></div> -->
     <!-- GREETING -->
     <span style='font-size: 14px; margin-left: -10px;'>Welcome
      back, <span style="font-weight: bold;">${USERNAME}</span>!
     </span>

     <!-- STATISTICS -->
     <ul class="nav nav-pills" id='statistics'
      style="margin-top: 11px; margin-left: -20px; margin-right: -20px; margin-bottom: 0px; border: 1px solid #e8e8e8">
      <li style="padding: 6px 20px;"><b id='data_count'>${DATA_COUNT}</b>
       <br> <span style="color: #999; font-size: 10px;">DATA</span></li>
      <li style="padding: 6px 20px; border-left: 1px solid #E8E8E8;">
       <b id='feed_count'>${FEED_COUNT}</b><br> <span
       style="color: #999; font-size: 10px;">FEEDS</span>
      </li>
      <li style="padding: 6px 20px; border-left: 1px solid #E8E8E8;"><b
       id='running_count'>${RUNNING_COUNT}</b><br> <span
       style="color: #999; font-size: 10px;">RUNNING JOBS</span></li>
     </ul>

    ${DRAG_AND_DROP}

     <!-- PACS PULL -->
     <!--<textarea id="action_command" placeholder="Action"
      style="width: 100%; height: 19px; overflow: hidden; padding-bottom: 5px; margin-top: 13px; margin-bottom: 0px; margin-left: -7px; max-width: 100%;"></textarea>
     <div id="action_ui">
      <a id='action_run' class="btn btn-warning"
       style="margin-top: 6px; float: right"><i
       class="icon icon-white icon-ok"></i> Run</a> <br> <br>
     </div>-->
    </div>
    ${PLUGIN}
   </div>
   <!-- We load css here because jquery do not apply it... :/ -->
   <div id="center" style="display: none; margin-left: 20px;
  float: left;">
   <div class="interactive_plugin_title" style="height:22px; padding:10px;border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #e3e3e3;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: whiteSmoke;
  "> <span style="font-size: 16px; font-weight: bold;">Interactive Plugin</span> <span class="pull-right"> <span id="close_interactive_plugin" class="btn btn-small" >Close <i class="icon-remove"></i></span> </span></div>
      <div class="interactive_plugin_content" style="background-color: whiteSmoke;overflow-y: scroll;"></div>
          <div class='interactive_plugin_footer' style="  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border-bottom: 1px solid;
  border-color: #e3e3e3;
  height: 5px;"></div> 
</div>
   
   <div id="right" class="span8 pull-right">
    <div class="feed_title">
     <span style="font-size: 16px; font-weight: bold;">Activity
      Feed</span> <!-- <sub>( <a href="#">Me</a> / <b>All </b>)
     </sub> -->
     <span style="display: none;">
      <label class="checkbox inline feed_header_small"
      style='margin-left: 10px; padding-top: 0px; margin-top: -5px;'>
      <input type="checkbox" class="feed_fav_check"
      style='opacity: 0.6;' value="1" checked> Favorites
     </label> <label class="checkbox inline feed_header_small"
      style='padding-top: 0px; margin-top: -5px;'> <input
      type="checkbox" class="feed_run_check" style='opacity: 0.6'
      value="1" checked> Running
     </label> <label class="checkbox inline feed_header_small"
      style='padding-top: 0px; margin-top: -5px;'> <input
      type="checkbox" class="feed_fin_check" style='opacity: 0.6'
      value="1" checked> Finished
     </label> <label class="checkbox inline feed_header_small"
      style='padding-top: 0px; margin-top: -5px;'> <input
      type="checkbox" class="feed_sea_check" value="0"> Search
     </label>      </span> <span class="pull-right" style=''> <input
      class="feed_search_input" type="text" placeholder="Search..."
      style='height: 10px; line-height: 12px; width: 135px; font-size: 11px;'>
     </span>
    </div>
    <div class="feed_update feed_dark"></div>
    <div class="feed_content">
     <div class="feed_empty"
      style="display: none; height: 100%; background-color: whiteSmoke; text-align: center; padding-top: 250px;">No
      activity yet.</div>
     ${FEED_ALL}
    </div>
    <div class='feed_footer'></div> 
   </div>
   <div id="footer" class="row"
    style="margin-bottom: 0px; font-size: 0.8em;">
    <div class="pull-right">ChRIS ${CHRIS_VERSION} &copy;
     Fetal-Neonatal Neuroimaging & Developmental Science Center, Boston
     Children's Hospital 2012</div>
   </div>
  </div>
 </div>

 <div style='display: none' id='cart_storage'></div>

 ${JAVASCRIPT_LIBS} ${JAVASCRIPT_CHRIS}
</body>
</html>
