<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<meta name='viewport'
  content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0' />
<title>ChRIS</title>
${CSS}
</head>
<body>

	${NAVBAR}

	<div class="container" id='opaqueoverlay'
		style="margin: 0px auto; padding: 60px 14px 14px 14px; background-image: url(https://twimg0-a.akamaihd.net/a/1344442772/t1/img/wash-white-30.png);min-height:100%;">

		${FEED_DATA_PREVIEW}

		<div id='home' class="row">
			<div class="span4" data-spy="affix" style="z-index: 1000;">

				<div class="well" style='padding-top: 10px;padding-bottom: 12px;'>
					<!-- GREETING -->
					<span style='font-size: 14px; margin-left: -10px;'>Welcome back, <span style="font-weight: bold;">${USERNAME}</span>!</span>

					<!-- STATISTICS -->
					<ul class="nav nav-pills"
						style="margin-top: 11px; margin-left: -20px; margin-right: -20px; border: 1px solid #e8e8e8">
						<li style="padding: 6px 20px;"><b id='data_count'>${DATA_COUNT}</b>
							<br> <span style="color: #999; font-size: 10px;">DATA</span></li>
						<li style="padding: 6px 20px; border-left: 1px solid #E8E8E8;">
							<b id='feed_count'>${FEED_COUNT}</b><br> <span
							style="color: #999; font-size: 10px;">FEEDS</span>
						</li>
						<li style="padding: 6px 20px; border-left: 1px solid #E8E8E8;"><b
							id='running_count'>${RUNNING_COUNT}</b><br> <span
							style="color: #999; font-size: 10px;">RUNNING JOBS</span></li>
					</ul>

					<!-- PACS PULL -->
					<textarea id="action_command" placeholder="Action"
						style="width: 100%; height: 19px; overflow: hidden; padding-bottom: 5px; margin-top: -7px; margin-bottom: 0px; margin-left: -7px; max-width: 100%;"></textarea>
					<div id="action_ui">
						<a id='action_run' class="btn btn-warning"
							style="margin-top: 6px; float: right"><i
							class="icon icon-white icon-ok"></i> Run</a> <br> <br>
					</div>
				</div>

				${PLUGIN}
			</div>
			<div class="span12" data-spy="affix" style="z-index: 1000;">
				<div class="span8 pull-right">
					<div class="feed_title">
						<span style="font-size: 16px; font-weight: bold;">Activity
							Feed</span> <sub>( <a href="#">Me</a> / <b>All </b>)
						</sub> <label class="checkbox inline feed_header_small"
							style='margin-left: 50px;padding-top:0px; margin-top:-5px;'> <input type="checkbox"
							class="feed_run_check" style='opacity: 0.6' value="1" checked>
							Running
						</label> <label class="checkbox inline feed_header_small" style='padding-top:0px; margin-top:-5px;'> <input
							type="checkbox" class="feed_fav_check" style='opacity: 0.6;'
							value="1" checked> Favorites
						</label> <label class="checkbox inline feed_header_small" style='padding-top:0px; margin-top:-5px;'> <input
							type="checkbox" class="feed_fin_check" style='opacity: 0.6'
							value="1" checked> Finished
						</label> <span class="pull-right" style=''> <input
							type="text" placeholder="Search..."
							style='height: 10px; line-height: 12px; width: 135px; font-size: 11px;'>
						</span>
					</div>
					<!--      <div class="feed_advanced feed_gradient">
      <div></div>
     </div> -->
					<div class="feed_update feed_gradient"></div>
				</div>
			</div>
			<!--    <div class="span12 pull-right" data-spy="affix"
    style="z-index: 500; margin-top: -20px; height: 40px; background: #66CCFF">
   </div> -->
			<div class="span8 pull-right">
				<div class="feed_content">
				  <div class="feed_empty" style="display:none;height:300px;background-color:white;text-align:center;padding-top:250px;">No activity yet.</div>
					<div class="feed_run">${FEED_RUN}</div>
					<div class="feed_fav">${FEED_FAV}</div>
					<div class="feed_fin">${FEED_FIN}</div>
				</div>
          <div class='feed_footer'></div>				
           <div class="container" style="margin-bottom: 0px; font-size: 0.8em;margin-left:180px;">&copy;
  Fetal-Neonatal Neuroimaging & Developmental Science Center, Boston
  Children's Hospital 2012</div>
			</div>

		</div>
	</div>

	<div style='display: none' id='cart_storage'></div>

	${JAVASCRIPT_LIBS} ${JAVASCRIPT_CHRIS}
</body>
</html>