
<script type="text/javascript" src="view/js/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="view/js/bootstrap.js"></script>
<script type="text/javascript" src="view/js/bootstrap-wysihtml5.js"></script>

<!-- CHRIS -->
<script type="text/javascript" src="view/js/chris.js"></script>
<!-- CHRIS PREVIEW -->
<script type="text/javascript" src="view/js/chris.preview.js"></script>
<!-- CHRIS PLUGIN -->
<script type="text/javascript" src="view/js/chris.plugin.js"></script>
<script type="text/javascript" src="view/js/chris.plugin.batch.js"></script>
<!-- CHRIS FEED -->
<script type="text/javascript" src="view/js/feed/chris.feed.js"></script>
<script type="text/javascript" src="view/js/feed/chris.feed.action.js"></script>
<!-- CHRIS PACS -->
<script type="text/javascript" src="view/js/chris.pacs.js"></script>