<script type="text/javascript" src="view/js/jquery.min.js"></script>
<script type="text/javascript"
 src="view/js/jquery-ui-1.8.23.custom.min.js"></script>

<script type="text/javascript" src="view/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="view/js/jquery.toastmessage.js"></script>
<script type="text/javascript" src="view/js/jquery.filetree.js"></script>
<script type="text/javascript" src="view/js/jquery.multi-accordion-1.5.3.js"></script>
<script type="text/javascript" src="view/js/jquery.apprise.min.js"></script>
<script type="text/javascript" src="view/js/jquery.touchpunch.js"></script>
<script type="text/javascript" src="view/js/jquery.toggle.buttons.js"></script>

<!-- XTK -->
<script type="text/javascript" src="view/js/xtk_edge.js"></script>
