
<script type="text/javascript" src="view/js/bootstrap.js"></script>

<!-- CHRIS -->
<script type="text/javascript" src="view/js/chris.js"></script>
<!-- CHRIS PREVIEW -->
<script type="text/javascript" src="view/js/chris.preview.js"></script>
<!-- CHRIS PLUGIN -->
<script type="text/javascript" src="view/js/chris.plugin.js"></script>
<script type="text/javascript" src="view/js/chris.plugin.batch.js"></script>
<!-- CHRIS FEED -->
<script type="text/javascript" src="view/js/chris.feed.js"></script>
<!-- CHRIS PACS -->
<script type="text/javascript" src="view/js/chris.pacs.js"></script>