<!DOCTYPE html>
<html lang="en">

<head>${CSS}</head>

<!-- http://www.allanbevere.com/2012_04_01_archive.html -->
<body id='body' style='overflow: hidden; background: url("view/gfx/fnndsc_1920x1200.jpg") no-repeat center center fixed;  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;'>
	<div id='maintenance' style='${MAINTENANCE}'><div id='maintenance_label'><h1>Maintenance!</h1> The system will be available again shortly!<br>Sorry for the inconvenience!!</div></div>
	<div id='frontpage'>
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<img src="view/gfx/bch_logo.png" style="margin-top: 4px">
				</div>
			</div>
		</div>
		<div class="container logincontainer">
			<div class="row">
				<div class="span8">
					<div class="well loginwell">

					  <span class="center">
						  <h1>Welcome to
						    <span class='blue'>ChRIS</span>
						  </h1>
					  </span>

					  <div class="feature webgl">
              <div id="shield-container" class="container2">
                <div class="circle"></div>
              </div>
            </div>

            <div class="feature nowebgl">
             	<img src="view/gfx/brain.png">
            </div>

            <div style='padding:40px'>
              <h2><span class='blue'>Ch</span>ildrens</h2>
              <h2><span class='blue'>R</span>esearch</h2>
              <h2><span class='blue'>I</span>ntegration</h2>
              <h2><span class='blue'>S</span>ystem</h2>
            </div>

            <span class="center">
              </br>
              &copy;Fetal-Neonatal Neuroimaging & Developmental Science Center, Boston Children's Hospital 2012
            </span>

          </div>
				</div>
				<div class="span4">
					<form class="well-large loginwell" method='POST' action="?">
						<input type="text" class="span3" name='username'
							placeholder="Username"><input type="password"
							class="span2" name='password' placeholder="Password">
            <button type="submit" class="btn btn-primary"
							style="margin-bottom: 8px; margin-left: 12px;">Sign in</button>
					</form>

					<div class="well-large loginwell" style="margin-bottom:23px;">
						<a href='http://goxtk.com' target='_blank'>
						  <img src="view/gfx/logo_xtk.png" class="loginlogo">
					    </a>
						<span class="loginlogotext">Powered by XTK
							<a href='http://goxtk.com' target='_blank'>www.goxtk.com
					    </a>
						</span>
						<div style="clear: both;"></div>
					</div>


					<div class="well-large loginwell">
						<a href='http://goxtk.com' target='_blank'>
							<img src="view/gfx/logo_slicedrop.png" class='loginlogo'>
            </a>
						<span class="loginlogotext">Medical imaging data in 3D
              <a href='http://slicedrop.com' target='_blank'>www.slicedrop.com
              </a>
						</span>
						<div style="clear: both;"></div>
					</div>

				</div>
		</div>
	</div>

	${JAVASCRIPT_LIBS}

    <!-- WebGL scripts for fancy login page -->
    <script type="text/javascript" src='view/js/modernizr-2.6.2.js'></script>
    <script type="text/javascript" src='view/js/login/shifty.min.js'></script>
    <script type="text/javascript" src='view/js/login/three.js'></script>
    <script type="text/javascript" src='view/js/login/html5.js'></script>

	<script type="text/javascript" src="view/js/login/chris.login.js"></script>

	<script>
        if (Modernizr.webgl) {
          window.deg2rad = function(deg) { return deg * (Math.PI / 180); };
        	$('.feature.webgl').show();
          initHTML5();
        } else {
            $('.feature.nowebgl').show();
        }
    </script>

</body>
</html>
