<!DOCTYPE html>
<html lang="en">

<head>

<!-- Slice:Drop -->
<!-- <link href='view/slicedrop/css/bootstrap.css' rel='stylesheet' /> -->
<!-- <link href='view/slicedrop/css/bootstrap-responsive.css' rel='stylesheet' /> -->
<link type='text/css' rel='stylesheet'
	href='view/slicedrop/css/xtheme/jquery.ui.css' />
<link type='text/css' rel='stylesheet'
	href='view/slicedrop/css/jquery.miniColors.css' />
<link type='text/css' rel='stylesheet'
	href='view/slicedrop/css/jquery.sidebar.css' />
<link type='text/css' rel='stylesheet'
	href='view/slicedrop/css/frontpage.css' />
<link type='text/css' rel='stylesheet'
	href='view/slicedrop/css/viewer.css' />

${CSS}

</head>

<body id='body' style='overflow: hidden;'>
	<div id='maintenance' style='${MAINTENANCE}'><div id='maintenance_label'><h1>Maintenance!</h1> The system will be available again shortly!<br>Sorry for the inconvenience!!</div></div>
	<div id='frontpage'>
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<img src="view/gfx/bch_logo.png" style="margin-top: 4px">
				</div>
			</div>
		</div>
		<div class="container" style="margin-top: 200px;">
			<div class="row">
				<div class="span8">
					<div class="well-large"
						style="height: 348px; background: url('view/gfx/spoiler3.png'); background-repeat: no-repeat; background-color: #000"></div>
				</div>
				<div class="span4">
					<form class="well-large" style="background-color: #000" action="?"
						method='POST'>
						<input type="text" class="span3" name='username'
							placeholder="Username"><input type="password"
							class="span2" name='password' placeholder="Password">
						<button type="submit" class="btn btn-warning"
							style="margin-bottom: 8px; margin-left: 12px;">Sign in</button>
					</form>
					<form class="well-large" style="background-color: #000">
						<img src="view/gfx/slicedrop_transparent.png"><br> <br>
						<span style="color: white;">Instantly view medical imaging
							data in 3D.<br>Drop files here or <input id='filebutton'
							type='file' multiple onchange='selectfiles(this.files)'
							style='display: none;'></input><a
							class="btn btn-primary btn-mini"
							onclick='javascript:document.getElementById("filebutton").click();'>Select
								files</a>
						</span>
					</form>
					<form class="well-large" style="background-color: #000;">
						<a href="mailto:dev@babymri.org">Request access ?</a>
					</form>
				</div>
				<div class="container"
					style="margin-bottom: 0px; font-size: 0.8em; margin-left: 20px;">&copy;
					Fetal-Neonatal Neuroimaging & Developmental Science Center, Boston
					Children's Hospital 2012</div>
			</div>
		</div>
	</div>

	<!-- Slice:Drop viewer -->

	<!-- Drop note -->
	<div id='drop-box-overlay'>
		<h1>Drop files anywhere...</h1>
	</div>

	<!-- The viewer -->
	<div id='viewer' style='display: none;'>

		<ul class='navigation'>
			<li id='volume' class='navigationLi'><div class='menu'>
					<div class='pin'>
						<span class='ui-icon ui-icon-pin-w pinicon'></span>
					</div>

					<div class='tabbox idTabs' id='volumetabs'>
						<div class='caption'>VOLUME</div>

						<a href='#volumeTab' class='selected'>Volume</a> <a
							href='#labelmapTab' id='labelmapSwitch'
							style='margin-left: 50px;'>Labelmap</a>
						<div id='volumeTab' class='tabContent'>


							<div id='modes' style='width: 130px; float: left;'>
								<div id='volumerendering'>
									<img src='view/slicedrop/gfx/3d.png' />
								</div>
								<div id='slicing'>
									<img src='view/slicedrop/gfx/2d.png' />
								</div>
							</div>

							<div id='colors'
								style='width: 26px; margin-left: 6px; float: left;'>

								<input id='fgColorVolume' type='hidden'
									class='color-picker black' size='6' value='#ffffff' /> <input
									id='bgColorVolume' type='hidden' class='color-picker black'
									size='6' value='#000000' />
							</div>

							<div id='opacity-label' class='menuLabel'
								style='margin-top: 4px; float: left;'>3D Opacity</div>
							<div id='opacity-volume'
								style='margin-left: 10px; margin-top: 4px; float: left;'></div>

							<div id='windowlevel-label' class='menuLabel'
								style='margin-top: 4px; float: left;'>Window/Level</div>
							<div id='windowlevel-volume'
								style='margin-left: 10px; margin-top: 4px; float: left;'></div>

							<div class='menuLabel' style='margin-top: 4px; float: left;'>Threshold</div>
							<div id='threshold-volume'
								style='margin-left: 10px; margin-top: 4px; float: left;'></div>


						</div>
						<div id='labelmapTab' class='tabContent' style='display: none'>


							<div id='visibility-labelmap' style='width: 130px; float: left;'>
								<div class='menuLabel' style='margin-top: 4px; float: left;'>Show/Hide</div>
								<div id='labelmapvisibility' class='eye show-icon'
									style='margin-left: 6px;'></div>
							</div>

							<div class='menuLabel' style='margin-top: 4px; float: left;'>Labelmap
								Opacity</div>
							<div id='opacity-labelmap'
								style='margin-left: 10px; margin-top: 4px; float: left;'></div>


						</div>
					</div>

				</div></li>

			<li id='mesh' class='navigationLi'><div class='menu'>
					<div class='pin'>
						<span class='ui-icon ui-icon-pin-w pinicon'></span>
					</div>
					<div class='tabbox idTabs'>
						<div class='caption'>MESH</div>

						<a class='meshtabs selected'>Mesh 1</a>
						<div id='mesh1' class='tabContent'>

							<div id='visibility-mesh'
								style='width: 140px; float: left; margin-top: 2px;'>
								<div class='menuLabel' style='margin-top: 4px; float: left;'>Show/Hide</div>
								<div id='meshvisibility' class='eye show-icon'
									style='margin-left: 6px;'></div>
							</div>

							<input type='hidden' id='meshColor' class='color-picker black'
								size='6' value='#0000ff' />

							<div class='menuLabel' style='margin-top: 4px; float: left;'>Opacity</div>
							<div id='opacity-mesh'
								style='margin-left: 10px; margin-top: 4px; float: left;'></div>

							<div class='menuLabel'
								style='margin-top: 4px; float: left; margin-top: 10px;'>Scalars</div>
							<div id='scalars-mesh' style='width: 160px; float: left;'>

								<select id='scalars-selector' style='margin-left: 6px'><option>Scalars
										1</option></select> <input type='hidden' class='color-picker black'
									id='scalarsMinColor' size='6' value='#00ff00' /> <input
									type='hidden' id='scalarsMaxColor' class='color-picker black'
									size='6' value='#ff0000' />
							</div>



							<div class='menuLabel' style='margin-top: 4px; float: left;'>Scalars
								Threshold</div>
							<div id='threshold-scalars'
								style='margin-left: 10px; margin-top: 4px; float: left;'></div>

						</div>

					</div>
				</div></li>

			<li id='fibers' class='navigationLi'><div class='menu'>
					<div class='pin'>
						<span class='ui-icon ui-icon-pin-w pinicon'></span>
					</div>
					<div class='tabbox idTabs'>
						<div class='caption'>FIBERS</div>

						<a class='fiberstabs selected'>Fibers 1</a>

						<div id='fibers1' class='tabContent'>

							<div id='visibility-fibers'
								style='width: 140px; float: left; margin-top: 2px;'>
								<div class='menuLabel' style='margin-top: 4px; float: left;'>Show/Hide</div>
								<div id='fibersvisibility' class='eye show-icon'
									style='margin-left: 6px;'></div>
							</div>

							<div class='menuLabel' style='margin-top: 4px; float: left;'>Fiber
								Length Threshold</div>
							<div id='threshold-fibers'
								style='margin-left: 10px; margin-top: 4px; float: left;'></div>


						</div>

					</div>
				</div></li>

		</ul>



		<!--  The renderers. -->

		<div id='3d' class='threeDRenderer'></div>
		<div id='sliceX' class='twoDRenderer'>
			<div id='yellow_slider'></div>
			<span class='ren2d_icon' style='left: 2px;'
				onclick='javascript:_current_X_content.rotateCounter();'> <span
				class='ui-icon ui-icon-arrowreturnthick-1-w' style='margin: 5px;'
				title="Rotate"></span>
			</span> <span class='ren2d_icon' style='right: 2px;'
				onclick='javascript:_current_X_content.rotate();'> <span
				class='ui-icon ui-icon-arrowreturnthick-1-w ren2d_icon_flip'
				style='margin: 5px;' title="Rotate"></span>
			</span>
		</div>
		<div id='sliceY' class='twoDRenderer'>
			<div id='red_slider'></div>
			<span class='ren2d_icon' style='left: 2px;'
				onclick='javascript:_current_Y_content.rotateCounter();'> <span
				class='ui-icon ui-icon-arrowreturnthick-1-w' style='margin: 5px;'
				title="Rotate"></span>
			</span> <span class='ren2d_icon' style='right: 2px;'
				onclick='javascript:_current_Y_content.rotate();'> <span
				class='ui-icon ui-icon-arrowreturnthick-1-w ren2d_icon_flip'
				style='margin: 5px;' title="Rotate"></span>
			</span>
		</div>
		<div id='sliceZ' class='twoDRenderer'>
			<div id='green_slider'></div>
			<span class='ren2d_icon' style='left: 2px;'
				onclick='javascript:_current_Z_content.rotateCounter();'> <span
				class='ui-icon ui-icon-arrowreturnthick-1-w' style='margin: 5px;'
				title="Rotate"></span>
			</span> <span class='ren2d_icon' style='right: 2px;'
				onclick='javascript:_current_Z_content.rotate();'> <span
				class='ui-icon ui-icon-arrowreturnthick-1-w ren2d_icon_flip'
				style='margin: 5px;' title="Rotate"></span>
			</span>

		</div>

		<!-- Slice:Drop logo -->
		<div id='blacklogo'>
			<a href=''><img
				src='view/slicedrop/gfx/slicedrop_transparent.png' /></a>
		</div>

	</div>





	${JAVASCRIPT_LIBS}
	<script type="text/javascript" src="view/js/chris.login.js"></script>

	<script type='text/javascript'
		src='view/slicedrop/js/jquery.ui.slider.js'></script>
	<script type='text/javascript'
		src='view/slicedrop/js/jquery.miniColors.js'></script>
	<script type='text/javascript'
		src='view/slicedrop/js/jquery.filestyle.js'></script>
	<script type='text/javascript' src='view/slicedrop/js/jquery.idTabs.js'></script>
	<script type='text/javascript'
		src='view/slicedrop/js/jquery.sidebar.js'></script>
	<script type='text/javascript'
		src='view/slicedrop/js/jquery.sidebar.volume.js'></script>
	<script type='text/javascript'
		src='view/slicedrop/js/jquery.sidebar.mesh.js'></script>
	<script type='text/javascript'
		src='view/slicedrop/js/jquery.sidebar.fibers.js'></script>
	<script type='text/javascript' src='view/slicedrop/js/jquery.viewer.js'></script>
	<script type='text/javascript'
		src='view/slicedrop/js/jquery.frontpage.js'></script>
	<script type='text/javascript' src='view/slicedrop/js/x.controller.js'></script>
	<script type='text/javascript' src='view/slicedrop/js/x.examples.js'></script>
	<script type='text/javascript' src='view/slicedrop/js/x.rendering.js'></script>
	<script type='text/javascript' src='view/slicedrop/js/xtk.js'></script>
</body>
</html>