
<div class="navbar navbar-fixed-top navbar-inverse">
 <div class="navbar-inner">
  <div class="container" id='navigationbar'>
  <div style="position: absolute; color: #fff;">  <h4> <span id="labbook-icon" style="background-color:#009DE9; color: #fff; border-radius: 2px;">&nbsp;<b style='font-size:30px;'>L</b>&nbsp;</span>    The Web Lab-Book</h4> </div>

<!--    <img src="view/gfx/bch_logo.png"
    style="margin-top: 4px; position: absolute;"> -->

   <!-- SEARCH -->
   <div class='pull-right'>
    <!-- SETTINGS -->
    <ul class="nav nav-pills">
     <li class="divider-vertical"></li>
     <li class="dropdown" id="menu1"><a class="dropdown-toggle"
      data-toggle="dropdown" href="#menu1"><i
       class="icon-white icon-user"></i> <b class="caret"></b> </a>
      <ul class="dropdown-menu">
       <li><a href="http://fnndsc.github.io/chrisreloaded/" target="_blank">Changelog</a>
<!--        <li><a href="javascript:alert('Coming soon');">Settings</a>
       <li><a href="https://github.com/FNNDSC/chrisreloaded/issusea onclick?state=open" target="_blank">Bugs?</a></li> -->
       <li><a onclick="_CHRIS_.showTips();">Tips</a></li>
       <li><a href="mailto:dev@babymri.org">Need Help?</a></li>
       <li class="divider"></li>
       <li><a href="?logout">Logout</a></li>
      </ul></li>
    </ul>


   </div>
  </div>
 </div>
</div>
