
<!-- The Cart -->
<div class='cart'>
 <div class='cart_title'>
  <span style="font-size: 16px; font-weight: bold;">Plugins</span>
  <span style="float:right"><select name="category" id='cart_categories'></select></span>
 </div>
 <div class='cart_content'>
  <!-- PIPELINES -->
  <div id="cart_plugins">${PLUGIN_CAROUSEL}</div>

  <!-- PARAMETERS -->
  <div id='cart_parameters'>
  ${PLUGIN_PARAMETERS}
  </div>
  
 </div>
 <div class='cart_footer'>
  <a class="btn btn-danger" id='plugin_cancel' href='#' rel="right_tooltip"
   data-original-title="Cancel.."><i class="icon-remove"></i></a> <a
   class="btn btn-success pull-right" id='plugin_submit' href='#' rel="left_tooltip"
   data-original-title="Start the Job!"><i id='plugin_submit_play' class="icon-play"></i><i id='plugin_submit_wait' style='display:none;' class="icon-refresh rotating_class"></i></a>
 </div>

</div>