
<!-- The Cart -->
<div class='cart'>
 <div class='cart_title'>
  <span style="font-size: 16px; font-weight: bold;">Plugins</span>
  <span style="float:right;"><select name="category" id='cart_categories' style="width: 180px; margin-top:-3px;"></select></span>
 </div>
 <div class='cart_content'>
  <!-- PIPELINES -->
  <div id="cart_plugins">${PLUGIN_CAROUSEL}</div>

  <!-- PARAMETERS -->
  <div id='cart_parameters'>
  ${PLUGIN_PARAMETERS}
  </div>
  
 </div>
 <div class='cart_footer'>

<h4 id="plugin_cancel" style="margin-right:20px;" class="plugin_buttons"> Reset </h4>

<h4 id="plugin_submit" class="plugin_buttons"><span id="plugin_submit_play"> Start job </span><span id="plugin_submit_wait" style='display:none;'>Starting <i class="icon-refresh rotating_class"></i></span></h4>

 </div>

</div>